In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
#links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
#tags = pd.read_csv('tags.csv')

In [3]:
movies.shape

(9742, 3)

In [0]:
ratings['userId'] = ratings['userId'].astype('str')
ratings['movieId'] = ratings['movieId'].astype('str')
movies['movieId'] = movies['movieId'].astype('str')

# Statistics of the dataset

In [5]:
userId = ratings.userId.unique()
movieId = ratings.movieId.unique()
num_users = len(userId)
num_items =len(movieId)
print('number of unique users:', num_users)
print('number of unique movies:', num_items)

number of unique users: 610
number of unique movies: 9724

In [6]:
sparsity = 1 - len(ratings) / (num_users * num_items)
print('matrix sparsity:',sparsity)

matrix sparsity: 0.9830003169443864

In [0]:
#Number of movies rated by each user.
numMoviesRatedByUser = ratings.groupby(['userId']).size().reset_index()

In [8]:
numMoviesRatedByUser.sort_values(by=0, ascending=True)

    userId     0
175    257    20
105    194    20
529    576    20
521    569    20
120    207    20
..     ...   ...
194    274  1346
387    448  1864
416    474  2108
554    599  2478
350    414  2698

[610 rows x 2 columns]

# Content Based

## TF-IDF

In [0]:
movies.genres = movies.genres.str.split('|')

In [10]:
movies.head()

  movieId  ...                                             genres
0       1  ...  [Adventure, Animation, Children, Comedy, Fantasy]
1       2  ...                     [Adventure, Children, Fantasy]
2       3  ...                                  [Comedy, Romance]
3       4  ...                           [Comedy, Drama, Romance]
4       5  ...                                           [Comedy]

[5 rows x 3 columns]

In [11]:
movies.genres = movies.genres.fillna("").astype('str')
movies.head()

  movieId  ...                                             genres
0       1  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
1       2  ...               ['Adventure', 'Children', 'Fantasy']
2       3  ...                              ['Comedy', 'Romance']
3       4  ...                     ['Comedy', 'Drama', 'Romance']
4       5  ...                                         ['Comedy']

[5 rows x 3 columns]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(9742, 177)

In [13]:
tfidf_matrix

<9742x177 sparse matrix of type '<class 'numpy.float64'>'
	with 36628 stored elements in Compressed Sparse Row format>

In [14]:
print(tf.get_feature_names())

['action', 'action adventure', 'action animation', 'action children', 'action comedy', 'action crime', 'action documentary', 'action drama', 'action fantasy', 'action horror', 'action imax', 'action mystery', 'action romance', 'action sci', 'action thriller', 'action war', 'action western', 'adventure', 'adventure animation', 'adventure children', 'adventure comedy', 'adventure crime', 'adventure documentary', 'adventure drama', 'adventure fantasy', 'adventure film', 'adventure horror', 'adventure mystery', 'adventure romance', 'adventure sci', 'adventure thriller', 'adventure war', 'adventure western', 'animation', 'animation children', 'animation comedy', 'animation crime', 'animation documentary', 'animation drama', 'animation fantasy', 'animation film', 'animation horror', 'animation musical', 'animation mystery', 'animation romance', 'animation sci', 'children', 'children comedy', 'children crime', 'children documentary', 'children drama', 'children fantasy', 'children horror', 'children imax', 'children musical', 'children mystery', 'children romance', 'children sci', 'children western', 'comedy', 'comedy crime', 'comedy documentary', 'comedy drama', 'comedy fantasy', 'comedy horror', 'comedy imax', 'comedy musical', 'comedy mystery', 'comedy romance', 'comedy sci', 'comedy thriller', 'comedy war', 'comedy western', 'crime', 'crime documentary', 'crime drama', 'crime fantasy', 'crime film', 'crime horror', 'crime imax', 'crime musical', 'crime mystery', 'crime romance', 'crime sci', 'crime thriller', 'crime western', 'documentary', 'documentary drama', 'documentary fantasy', 'documentary horror', 'documentary imax', 'documentary musical', 'documentary mystery', 'documentary romance', 'documentary war', 'documentary western', 'drama', 'drama fantasy', 'drama film', 'drama horror', 'drama imax', 'drama musical', 'drama mystery', 'drama romance', 'drama sci', 'drama thriller', 'drama war', 'drama western', 'fantasy', 'fantasy film', 'fantasy horror', 'fantasy imax', 'fantasy musical', 'fantasy mystery', 'fantasy romance', 'fantasy sci', 'fantasy thriller', 'fantasy war', 'fantasy western', 'fi', 'fi imax', 'fi thriller', 'fi war', 'fi western', 'film', 'film noir', 'genres', 'genres listed', 'horror', 'horror imax', 'horror musical', 'horror mystery', 'horror romance', 'horror sci', 'horror thriller', 'horror war', 'horror western', 'imax', 'listed', 'musical', 'musical imax', 'musical mystery', 'musical romance', 'musical sci', 'musical thriller', 'musical war', 'musical western', 'mystery', 'mystery imax', 'mystery romance', 'mystery sci', 'mystery thriller', 'mystery war', 'mystery western', 'noir', 'noir horror', 'noir mystery', 'noir romance', 'noir sci', 'noir thriller', 'romance', 'romance imax', 'romance sci', 'romance thriller', 'romance war', 'romance western', 'sci', 'sci fi', 'thriller', 'thriller imax', 'thriller war', 'thriller western', 'war', 'war imax', 'war western', 'western', 'western imax']

## Cosine Similarity

In [0]:
from sklearn.metrics.pairwise import cosine_similarity
sim = cosine_similarity(tfidf_matrix)

In [16]:
sim.shape

(9742, 9742)

In [17]:
sim[:4, :4]

array([[1.        , 0.31379419, 0.0611029 , 0.05271111],
       [0.31379419, 1.        , 0.        , 0.        ],
       [0.0611029 , 0.        , 1.        , 0.35172407],
       [0.05271111, 0.        , 0.35172407, 1.        ]])

##Predictions

In [0]:
# Build a 1-dimensional array with movie titles
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])

In [0]:
# get movie recommendations based on the cosine similarity score of movie genres
def pred(title):
  # get the index number for the title.
  idx = indices[title]
  #get the row for thar idx as a list.
  sim_scores = list(enumerate(sim[idx]))
  # sort the list.
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # get the top 10 score indices.
  topScores = sim_scores[1:11]
  # get the movie index
  movie_indices = [i[0] for i in topScores]
  return movies.iloc[movie_indices], movie_indices

#Case Study

##User 1

In [0]:
simMoviesU1, simMovieIndexpredU1 = pred('Dragonheart (1996)')

In [21]:
simMoviesU1

     movieId  ...                              genres
349      393  ...  ['Action', 'Adventure', 'Fantasy']
549      653  ...  ['Action', 'Adventure', 'Fantasy']
974     1275  ...  ['Action', 'Adventure', 'Fantasy']
1190    1587  ...  ['Action', 'Adventure', 'Fantasy']
1266    1681  ...  ['Action', 'Adventure', 'Fantasy']
1576    2115  ...  ['Action', 'Adventure', 'Fantasy']
1644    2193  ...  ['Action', 'Adventure', 'Fantasy']
1775    2373  ...  ['Action', 'Adventure', 'Fantasy']
2126    2826  ...  ['Action', 'Adventure', 'Fantasy']
2376    3153  ...  ['Action', 'Adventure', 'Fantasy']

[10 rows x 3 columns]

## User 2

In [0]:
simMoviesU2, simMovieIndexpredU2 = pred('What Happens in Vegas... (2008)')

In [23]:
simMoviesU2

    movieId                               title                 genres
6         7                      Sabrina (1995)  ['Comedy', 'Romance']
35       39                     Clueless (1995)  ['Comedy', 'Romance']
57       64                Two if by Sea (1996)  ['Comedy', 'Romance']
60       68  French Twist (Gazon maudit) (1995)  ['Comedy', 'Romance']
103     118                 If Lucy Fell (1996)  ['Comedy', 'Romance']
106     122                    Boomerang (1992)  ['Comedy', 'Romance']
111     129               Pie in the Sky (1996)  ['Comedy', 'Romance']
152     180                     Mallrats (1995)  ['Comedy', 'Romance']
157     186                  Nine Months (1995)  ['Comedy', 'Romance']
203     237                 Forget Paris (1995)  ['Comedy', 'Romance']

##User 3

In [0]:
simMoviesU3, simMovieIndexpredU3 = pred('Gladiator (2000)')

In [25]:
simMoviesU3

     movieId  ...                            genres
986     1287  ...  ['Action', 'Adventure', 'Drama']
1331    1801  ...  ['Action', 'Adventure', 'Drama']
1488    2013  ...  ['Action', 'Adventure', 'Drama']
1494    2019  ...  ['Action', 'Adventure', 'Drama']
1772    2370  ...  ['Action', 'Adventure', 'Drama']
1821    2421  ...  ['Action', 'Adventure', 'Drama']
2177    2893  ...  ['Action', 'Adventure', 'Drama']
2187    2905  ...  ['Action', 'Adventure', 'Drama']
2674    3578  ...  ['Action', 'Adventure', 'Drama']
4391    6448  ...  ['Action', 'Adventure', 'Drama']

[10 rows x 3 columns]

#Evaluation

In [0]:
user1 = ratings.loc[ratings.userId=='1']

In [0]:
# all movies that user has rated.
user1 = user1.merge(movies, how='left', on='movieId')

In [0]:
user1.movieId = user1.movieId.astype(int)

In [29]:
# all movies that user has rated.
user1

    userId  ...                                             genres
0        1  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
1        1  ...                              ['Comedy', 'Romance']
2        1  ...                    ['Action', 'Crime', 'Thriller']
3        1  ...                            ['Mystery', 'Thriller']
4        1  ...                   ['Crime', 'Mystery', 'Thriller']
..     ...  ...                                                ...
227      1  ...                    ['Action', 'Crime', 'Thriller']
228      1  ...                  ['Action', 'Adventure', 'Sci-Fi']
229      1  ...                                         ['Comedy']
230      1  ...   ['Adventure', 'Animation', 'Children', 'Sci-Fi']
231      1  ...                         ['Comedy', 'Drama', 'War']

[232 rows x 6 columns]

In [30]:
simMovies, simMovieIndex = pred('Toy Story (1995)')
simMovies.head(10)

     movieId  ...                                             genres
1706    2294  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
2355    3114  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
2809    3754  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
3000    4016  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
3568    4886  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
6194   45074  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
6486   53121  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
6948   65577  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
7760   91355  ...  ['Adventure', 'Animation', 'Children', 'Comedy...
8219  103755  ...  ['Adventure', 'Animation', 'Children', 'Comedy...

[10 rows x 3 columns]

In [31]:
simMovieIndex

[1706, 2355, 2809, 3000, 3568, 6194, 6486, 6948, 7760, 8219]

In [0]:
for i, row in user1.iterrows():
  if(row.movieId in simMovieIndex):
    print(row)

In [33]:
user1.loc[user1.movieId == 6194]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, title, genres]
Index: []